{% load django_htmx %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
    <title>{% block head_title %}
    
    {% endblock head_title %}</title>
  </head>
  <body hx-header='{"X_CSRFToken": "{{csrf_token}}"}'>

    <div hx-get="/hx/login/" hx-trigger="load" hx-target="this"></div>

    {% block content %}
    <br>
    {% endblock content %}
    <h1 class="text-3xl font-bold underline">
      
    </h1>
  </body>
</html>